footer {
    @include flex-layout;
    padding: 30px;
    background-color: $main-color;
    color: #fff;
    fill:#fff;
    .contacts {
        margin: 15px auto;
        @include flex-row-layout;
        @include align-center;
        flex-wrap: wrap;
        
        .contact {
            margin: 0 15px;
        }
    }
}

.quotes {
    margin: 30px auto ;
    font-size: 1.4rem;
    .author {
        font-style: oblique;
        text-align: right;
    }
}