footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: $main-color;
    color: #fff;
    fill:#fff;
    .contacts {
        margin: 15px auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        .contact {
            margin: 0 15px;
        }
    }
}

.quotes {
    margin: 30px auto ;
    font-size: 1.4rem;
    .author {
        font-style: oblique;
        text-align: right;
    }
}