header {
    .MuiTypography-h6 {
        @media screen and  (max-width: $mobile-max-width) {
            @include align-center;
        }
    }
    .active {
        border-bottom-color: #FFBE00 !important;
    }
    .link {
        padding: 6px 12px;
        overflow: hidden;
        position: relative;
        font-size: 0.875rem;
        max-width: 264px;
        min-width: 72px;
        box-sizing: border-box;
        min-height: 33px;
        text-align: center;
        flex-shrink: 0;
        font-weight: 500;
        line-height: 1.75;
        white-space: normal;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &:hover {
            border-bottom-color: rgba(255,190,0,0.7);
        }
    }
}

