#education {
    div {
        @include flex-row-layout;
    }
    .path {
        margin: 15px auto;
        width: 40%;

        max-width: 400px;
        height: 300px;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        @media screen and (max-width: $mobile-max-width) {
            width: 90%;
        }

        .bg-image {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 12px;

            transition: all 0.2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }

        .body {
            width: 100%;
            height: 100%;
            @include flex-layout();
            @include align-center;
            color: #fff;
            font-weight: 600;
            font-size: 24px;
            border-radius: 12px;
        }

        .center {
            @include flex-layout();
        }
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #141c3a;
            border-radius: 12px;
            transition: all 0.5s ease-in-out;
            .body {
                @include flex-layout();

                @include align-center();
                > * {
                    margin: 0;
                }
                .location {
                    font-style: italic;
                }
                .branch {
                    padding:15px 0; 
                }
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    .author {
        justify-content: flex-end;
    }
}
