@use "sass:list";

#recognition {
  margin-bottom: 30px;
  .rewards {
    @include flex-row-layout;
    justify-content: center;
    align-items: center;
    .reward {
      @include flex-row-layout;
      justify-content: initial;
      height: 200px;
      width: 400px;
      margin: 0;
      background-color: aqua;
    }
  }

  .card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter 0.3s ease;
  }

  @media screen and (max-width: 640px) {
    .card-carousel {
      right: 19%;
      .card {
        left: 38% !important;
      }
    }
  }

  @media screen and (max-width: $mobile-max-width) {
    .rewards {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .card-carousel {
      right: 0%;
      --card-width: 80%;
      --card-max-width: 80%;
      --card-height: 350px;
      --carousel-min-width: auto;
      height: var(--card-height);
      min-width: var(--carousel-min-width);
      width: 80%;
      .card {
        left: 0% !important;
      }
    }
  }

  .card-carousel.smooth-return {
    transition: all 0.2s ease;
  }

  .card-carousel .card {
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    transition: inherit;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    filter: brightness(0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: carousel-rotate 15s infinite;
  }

  .card-carousel:hover {
    .card {
      animation-play-state: paused;
    }
  }

  .card.highlight {
    filter: brightness(1);
  }

  $leftSides: 20.5341%, 30.5341%, 40%, 50.5341%, 60.5341%;
  $zIndex: -4, -2, 0, -2, -4;
  $scale: 0.2, 0.6, 1, 0.6, 0.2;
  $keyFrames: 0%, 25%, 50%, 75%, 100%;

  @keyframes carousel-rotate {
    @for $index from 1 through 5 {
      #{nth($keyFrames, $index)} {
        transform: scale(nth($scale, $index));
        left: nth($leftSides, $index);
        z-index: nth($zIndex, $index);
        opacity: 1;
        
      }
    }
  }

  $bgColor: linear-gradient(222deg, #02c6c9, #014d4e), linear-gradient(222deg, #ffbe00, #9ec75c),
    linear-gradient(180deg, #dccff1, #966fd6), linear-gradient(222deg, #005f9e, #009ad9),
    linear-gradient(222deg, #d0d0d7, #6a6976);

  $color: #fff;

  @for $index from 1 through 5 {
    $refIndex: ($index % 5) + 1;
    $refIndex: ($refIndex % 5) + 1;
    $refIndex: ($refIndex % 5) + 1;
    $refIndex: ($refIndex % 5) + 1;
    .card-carousel .card:nth-of-type(#{$index }) {
      animation-delay: ($index - 5) * 3s;
      left: nth($leftSides, $refIndex);
      transform: scale(nth($scale, $refIndex));
      z-index: nth($zIndex, $refIndex);
      background: nth($bgColor, $refIndex);
      color: #fff;
      font-weight: bold;
      @media screen and (max-width: $mobile-max-width) {
        opacity: 1;
      }
      @media screen and (min-width: $mobile-max-width) {
        opacity: 0;
      }
      .image-container {
        box-shadow: inset 0px 0px 17px 2px rgb(135, 164, 20);
      }
    }
  }

  .image-container {
    width: 8em;
    height: 8em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    & > * {
      width: 100%;
    }
  }

  .image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
  }

  h2 {
    padding: 1em;
    margin-top: 1em;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    border-radius: 0.2em;
    display: inline-block;
    transform: translateX(calc((100vw - 100%) / 2));
  }

  h2 a {
    color: #f5b916;
  }
}

.filler {
  width: 100%;
  height: 100%;
  svg {
    width: 100%;
    height: 50%;
    fill: #255295;
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    box-shadow: inset;
    text-shadow: 3px 4px 6px #ffbe00;
  }
}

.bravo {
  svg {
    height: 50%;
    height: 23%;
    margin-left: 3px;
    fill: #002d5b;
  }
}

.award {
  img {
    height: 55%;
    width: auto;
  }
  .title {
    white-space: nowrap;
  }
}
