
.banner {
    height: calc(100vh - 44px);
    //background-color: $main-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(164deg, #0d6aa8f0, #255295d4);
    background-image: radial-gradient(#2a98e1c4, #0d6aa8f0);

    color: #fff;
    position: relative;
    @include flex-layout;

    .body {
        margin: auto;
        @include flex-layout;
    }

    .my-photo {
        width: 200px;
        width: 160px;
        height: 200px;
        margin: 0 auto;
        //border: 1px solid #fff;
        //border-radius: 50%;
        object-fit: cover;
    }

    .my-name {
        @include align-center;
        font-family: 'Lobster', cursive;
        font-size: 3rem;
        font-weight: 200;
        margin: 15px;
        @media screen and (max-width: $tab-max-width) {
            font-size: 2rem;
        }
    }
    .my-field {
        @include align-center;
        font-family: 'Lobster', cursive;
        font-size: 2rem;
        font-weight: 200;
        margin: 15px;
        @media screen and (max-width: $tab-max-width) {
            font-size: 1.5rem;
        }
    }
    .banner-wave1,
    .banner-wave2,
    .banner-wave3 {
        bottom: 0;
        position: absolute;
        width: 100%;
        left: 0;
       
    }
    .banner-wave2,
    .banner-wave3 {
        opacity: 0.1;
    }
    .banner-wave3 {
        bottom: 30px;
    }
    .banner-wave2 {
        bottom: 55px;
    }
    @media screen and (max-width: $tab-max-width) {
        .banner-wave1,.banner-wave2,
        .banner-wave3 {
            bottom :0;
        }
    }
}


@media screen and (max-width: $mobile-max-width) {
    .banner {
        height: 80vh;
        .my-photo {
            width: 100px;
            height:100px;
        }
    }
}




.banner {
    overflow: hidden;
    overflow-x: hidden;
    .wave {
        opacity: 0.6;
        position: absolute;
        bottom:15%;
        left:24%;
        width: 6000px;
        height: 5800px;
        background: rgba(255,255,255,0.8);//rgba(13,106,168,0.9);
        margin-left: -2700px;
        transform-origin: 49% 49%;
        margin-bottom: -6000px;
        border-radius: 46%;
        animation: wave 12s infinite linear;
        pointer-events: none;
    }
    .wave2{
        animation: wave 28s infinite linear alternate-reverse;
        opacity: 0.3;
    }
    .wave3{
        animation: wave 20s infinite linear alternate-reverse;
        opacity: 1;
    }
    .wave4{
       // background: rgba(0,255,255,0.2);
        animation: wave 25s infinite linear reverse;
        opacity: 0.8;
    }
}

@keyframes wave {
    from {
        transform: rotate(0 deg);
    }
    to {
        transform: rotate(360deg);
    }
}