.parallax {
  min-height: 200px; 
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.introduction {
    width:100%;
    height: 200px;
    @include flex-layout;
    background-color: rgba(0,0,0,0.8);
    color: #FFF;
    font-weight: 700;
}

.experience-quotes {
  
    width:100%;
    height: 200px;
    @include flex-layout;
    background-color: rgba(0,0,0,0.2);
    color: #FFF;
    font-weight: 700;

}